body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.topo {
  background-color: #00cad1;
}

.topo .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.topo-titulo {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.topo-titulo a {
  text-decoration: none;
  color: inherit;
}

.topo-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.topo-links a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.secao-topo {
  border-bottom: 1px solid #d5d5d5;
}

.secao-topo p {
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.secao-largura-limitada {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.secao-largura-limitada p {
  font-size: 16px;
  text-align: justify;
}

h1,
h2 {
  color: #fff;
  margin: 0;
  text-align: center;
}

h3 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.secao-background-capa {
  min-height: 500px;
  background-image: url('img/assets_img-fundo.jpg');
  background-size: cover;
}

.secao-background-conteudo {
  text-align: right;
  padding: 50px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 40px;
  color: #fff;
}

.secao-conteudo {
  padding: 50px;
  box-sizing: border-box;
  border: 2px solid #dcdcdc;
  margin: 20px auto;
  border-radius: 40px;
}

.img-conteudo {
  width: 100%;
  height: auto;
  max-height: 180px;
}

.secao-conteudo span {
  display: block;
  border-left: 1px solid;
  padding-left: 10px;
  font-size: 16px;
}

.grupo-campo input,
.grupo-campo select {
  margin: 12px 0;
  height: 25px;
  width: 100%;
}

.secao-conteudo button {
  width: 100%;
  height: 32px;
  background: #00000085;
  border: none;
  color: #fff;
  border-radius: 4px;
}

.radio {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.radio div {
  display: flex;
  align-items: center;
}

.radio input {
  width: 15px;
}

.radio label {
  margin: 0 0 0 8px;
}

.localiza,
.lista-contato,
.suporte {
  list-style: none;
  padding: 20px;
  margin: 20px auto;
  border: 2px solid #dcdcdc;
  border-radius: 4px;
}

.localiza {
  max-width: 800px;
}

.lista-contato {
  max-width: 300px;
}

.item-lista-contato {
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}

.item-contato {
  color: #1d80c1;
  padding: 2px 5px;
  border-radius: 5px;
}

footer {
  background-color: #00cad1;
  padding: 20px 0;
  text-align: center;
}

@media (max-width: 480px) {
  .secao-largura-limitada p {
    text-align: left; 
    line-height: 1.6;
  }
  
  footer {
    font-size: 14px;
  }
}
